EMAIL_SERVICE=your_email_service_here
EMAIL_USERNAME=your_email_username_here
EMAIL_PASSWORD=your_email_password_here

AWS_REGION=your_aws_region_here
AWS_BUCKET_NAME=your_aws_bucket_name_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here

JWT_SECRET=your_jwt_secret_here
GAS_SECRET=your_gas_secret_here
VT_API_KEY=your_virustotal_api_key_here
MONGO_URI=your_mongodb_uri_here
